
    /* FONTS FOR PROJECT ======= font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */

    /* general styles start */
  
  body {
    background-color: #152A3E;
    color: #EEEFDA;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    text-align: left;
  }

  h1,
  h2,
  h3, 
  h4,
  h5 {
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.125em;
  }

  p {
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  figure {
    margin: 20px 0;
  }

   a {
    color: #222;
    text-decoration: none;
  } 

  img { 
    height: auto;
    width: 100%;
  }

  span {
    font-weight: 700;
  }

    /* general styles end */

  header {
    background-color: #B4C7D9;
    color: #222;
    text-align: center;
    padding: 30px 25px;
  }

  nav #contact-link {
    background-color: #E9B14C;
    border-radius: 30px;
    color: #222;
    padding: 2px 10px;
  }

   
  header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  header h1 {
    margin: 60px 0 30px 0;
  }

  header h2 {
    margin: 0 0 30px 0;
  }

  h3, h4 {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #work {
    padding: 80px 25px 40px 25px;
  }

  #work h4 {
    margin: 0;
  }

  .work-header {
    margin: 0;
  }

  .work-description {
    margin: 40px 0 30px 0;
  }

  .work-tools {
    margin-top: 5px;
  }

  #work p {
    width: 100%;
  }

  .work-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
    

  .work-link {
    display: inline-block;
    background-color: #E9B14C;
    border-radius: 30px;
    color: #222;
    font-size: 1.125em;
    padding: .75rem 3.75rem;
    text-transform: uppercase;
    margin: 40px 0 20px 0;
  }

  #skills {
    background-color: #B4C7D9;
    color: #222;
    padding: 0 25px 60px 25px;
    text-align: center;
  }

  #skills h3 {
    margin: 0;
  }

  #skills h4 {
    margin: 40px 0 20px 0;
  }

  .language,
  .tool {
    background-color: #E9B14C;
    color: #222;
    font-size: 1.125em;
    padding: 15px 0;
    margin: 20px 0;
    text-transform: uppercase;
  }

  #about {
    padding: 80px 25px;
  }

  #about figure {
    margin: 0 0 40px 0;
  }

  #about h3 {
    margin: 0 0 60px 0;
  }

  #about h4 {
    margin: 0 0 40px;
  }

  .about-text {
    margin: 0 0 25px;
  }

  #contact {
    background-color: #B4C7D9;
    color: #222;
    padding: 80px 25px 60px 25px;
    text-align: center;
  }

  #contact h3 {
    margin: 0 0 60px 0;
  }

  .contact-info {
    margin-bottom: 60px;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 0 20px;
    font-size: 1.875rem;
    padding: 0;
    margin: 0;
  }

  .contact-location {
    margin: 60px 0 30px 0;
  }

  .copyright {
    margin-top: 60px;
  }

