
/* FONTS FOR PROJECT ======= font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

  /*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #EEEFDA;
  background-color: #152A3E;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #152A3E;
  text-decoration: none;
}

h1 {
  color: #152A3E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5;
  width: 100%
}

h2 {
  color: #152A3E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-link,
.language-wrapper p,
.tool-wrapper p {
  text-transform: uppercase;
  font-size: 1.125rem;
}



.about-info h4,
.contact-title {
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  width: 100%
}

p,
li {
  font-size: 1rem;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

img {
  width: 100%;
}

address {
  font-style: normal;
}

/* Structural Styles */
header,
#work,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 85%;
}

#work p,
#about p {
  width: 100%;
  text-align: left;
}

/* set the margins & paddings for each section - these are only a suggestion :) */
/* setting all margins to zero removes all browser added default margins */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

/* then can set the margin & paddings for any element */

header {
  padding: 30px 0;
}

h1 {
  margin: 60px 0 30px;
}

#work {
  padding: 80px 0 10px;
}

#work figure {
  margin: 20px 0;
}

.work-description {
  margin: 40px 0 30px;
}

.work-link {
  margin: 40px 0 20px;
}

#skills {
  padding: 30px 0 40px; 
}

#skills h3 {
  margin: 0 0 20px;
}

#skills h4 {
  margin: 20px 0 0;
}

.language,
.tool {
  margin: 20px 0;
  padding: 15px 0;
}

#about {
  padding: 80px 0;
}

#about h3 {
  margin: 40px 0 60px;
}

.about-text {
  margin: 40px 0 30px;
}

#contact {
  padding: 80px 0 60px;
}

.contact-info {
  margin: 60px 0;
}

.contact-title {
  margin-bottom: 30px;
}

/* -------------------- Base Header Styles -------------------- */

/* header starts */

header {
  background-color: #EEEFDA;
  color: #152A3E;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}

#contact-link {
  background-color: #E9B14C;
  border-radius: 30px;
  padding: 10px 15px;
}

#contact-link:hover {
  background-color: #B4C7D9;
}

/* header ends */

/* -------------------- Mobile Styles - Homepage -------------------- */

/* work section starts */

.work-link {
  background-color: #E9B14C;
  border-radius: 30px;
  color: #152A3E;
  display: inline-flex;
  font-size: 1.125rem;
  padding: 0.75rem 3.75rem;
  text-transform: uppercase;
}

.work-link:hover {
  background-color: #B4C7D9;
}

/* work section ends */

/* skills section starts */

#skills {
  background-color: #EEEFDA;
  color: #152A3E;
}

.language,
.tool {
  background-color: #E9B14C;
  color: #152A3E;
}

/* skills section ends */

/* about section starts */

#about h4 {
  font-weight: 400;
}

#developer-image {
  width: 90%;
}

/* about section ends  */

/* -------------------- Base Footer Styles -------------------- */

/* footer starts */

#contact {
  background-color: #EEEFDA;
  color: #152A3E;
}

.social-icons {
  color: #152A3E;
  display: inline-flex;
  justify-content: space-around;
  width: 60%;
}

.social-icons li {
  width: 40px;
  font-size: 2rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer ends */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width:768px) {
  /*Tablet styles here*/

  /* General styles */
  .content-wrapper {
    max-width: 640px;
  }

  /* font styles */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  header nav ul li {
    font-size: 1rem;
  }

  /* element margins and padding starts */

  header {
    padding: 60px 0 80px;
  }

  header h1 {
    margin: 80px 0;
  }

  #work {
    padding: 120px 0 40px;
  }

  #work figure {
    margin: 80px 0 20px;
  }

  .work-link {
    margin: 40px 0 0;
  }

  #skills {
    padding: 40px 0 100px;
  }

  #skills h4 {
    margin: 20px 10px;
  }

  #about {
    padding: 120px 0;
  }

  #about h3 {
    margin: 80px 0;
  }

  .about-text {
    margin: 60px 0 30px;
  }

  #contact {
    padding: 120px 80px;
  }

  .footer-content {
    margin: 80px 0;
  }

  .contact-info {
    margin: 0;
  }

  /* element margins and padding ends */


  

  /* header starts*/

  nav ul,
  h2 {
    display: inline-flex;
    width: 80%;
  }

  /* header ends */

  /* work section starts */

  .work-wrapper {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .work-content {
    flex-direction: column;
    align-items: center;
    width: 45%;
  }

  /* work section ends */

  /* skills section starts */

  .language-wrapper,
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  .language,
  .tool {
    width: 45%;
  }

  /* skills section ends */
  
  /* about section starts */

  #about figure {
    display: inline-flex;
    justify-content: center;
    width: 60%;
  }

  #about h4 {
    text-align: left;
  }

  /* about section ends */
  
  /* footer starts */

  .footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-info {
    width: 33%;
  }

  .contact-social {
    width: 33%;
  }

  /* footer ends */

}

/* @media only screen and (min-width:1024px) {

  
} */

@media only screen and (min-width:1200px) {

  /*Desktop styles here*/
  .content-wrapper {
    max-width: 1450px;
  }

  /* font styles */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .about-info h3 {
    font-size: 3.75rem;
    text-align: left;
  }

  .about-info h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  .project-link,
  .language-wrapper p,
  .tool-wrapper p {
    font-size: 1rem;
  }

  /* element margins and padding start */

 
  /* element margins and padding end */
  

  #skills .content-wrapper {
    max-width: 900px;
  }

  

  /* header */
  

  
  /* work  */
  .work-content {
    width: 30%;
  }

  /* skills */
  .skill,
  .tool {
    width: 30%;
  }

  /* about */
  

  /* contact */
 
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

